<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dirtydish.app.dirtydish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetupHouse"
            android:label="@string/title_activity_setup_house"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dirtydish.app.dirtydish.MainMenu" />
        </activity>
        <activity
            android:name=".SelectHouse"
            android:label="@string/title_activity_select_house"
            android:parentActivityName=".AuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dirtydish.app.dirtydish.AuthActivity" />
        </activity>
        <activity
            android:name=".JoinHouse"
            android:label="@string/title_activity_join_house"
            android:parentActivityName=".SelectHouse"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dirtydish.app.dirtydish.SelectHouse" />
        </activity>
        <activity
            android:name=".AddChoreActivity"
            android:parentActivityName=".ChoreMenuActivity" />
        <activity
            android:name=".ViewChoresActivity"
            android:parentActivityName=".ChoreMenuActivity" />
        <activity android:name=".ChoreMenuActivity"></activity>
    </application>

</manifest>